p	{
	color:  white;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
}
article	{
	text-align: center;
}
h1	{
	color: white;
	font-size: 2em;
	font-family: 'Barlow', sans-serif;
	text-align: center;
	text-transform: uppercase;
	line-height:100px;
}
h2	{
	color: white;
	font-size: 2em;
	font-family: 'Barlow', sans-serif;
	text-align: right;
}
a	{
	color: hotpink;
	text-decoration: none;
}
a[href="http://kitm.lt"]{
	color: lightgray;
}
.catalog ul li{
	color: pink;
}
.catalog ul li ul li{
	color: green;
}
html	{
	background: black url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.center-text 	{
	text-align: center;
}
.fa-newspaper	{
	color: white;
}
